#ProductsContainer {
  padding: 20px;
  display: grid;
  gap: 20px;
}
a {
  text-decoration: none;
}
.ProductItem {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  height: 300px;
  color: var(--main-font-color);
  padding: 0 10px;
}
.ProductItem > img {
  object-fit: scale-down;
  height: 150px;
  width: 100%;
}
.ProductItem > h3 {
  text-align: center;
}
.ProductItem > p {
  text-align: justify;
}

@media (min-width:1630px){
  #ProductsContainer{
    grid-template-columns: repeat(4,1fr);
  }
}

@media (min-width:1020px) and (max-width:1630px){
  #ProductsContainer{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:1020px){
  #ProductsContainer{
    grid-template-columns: 1fr;
  }
}