footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: var(--footer-header-height);
  padding-top: 10px;
  background: var(--main-color);
  text-align: center;
  
}
footer p {
  color: var(--secondary-font-color);
}
