#product-container{
    text-align: center;
    margin: auto;
    padding:0px 100px;
    min-height: inherit;
    margin-top: 25px;
    color:var(--main-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#product-container > img{
    max-height: 300px;
    max-width: 900px;
    object-fit: contain;
}
#product-container > h3{
    font-size: xx-large;
    font-weight: 700;
}
#product-container > p{
    font-size: large;
    text-align: justify;
    
}
