#product-container{
    text-align: center;
    border:1px solid var(--main-border-color);
    margin: auto;
    padding:20px;
    height: auto;
    margin-top: 25px;
    color:var(--main-font-color);
}
#product-container > img{
    max-height: 180px;
    max-width: 300px;
    object-fit: contain;
}
#product-container > p{
    text-align: justify;
    
}
@media (min-width: 720px) {
    #product-container{
        width: 600px;

    }
}