<mat-drawer-container  autosize>

  <mat-drawer #drawer mode="side" class="menuContainer">
    <app-menu [menuList]="menuList"></app-menu>
  </mat-drawer>

  <div id="main-page">
    <app-header>
      <div (click)="drawer.toggle()">
        <div class="menuIcon"></div>
        <div class="menuIcon"></div>
        <div class="menuIcon"></div>
      </div>
    </app-header>
    <main id="content-page">
      <ng-content></ng-content>
    </main>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>
