#detail-container{
    width: 85vw;
    height: 100vh;
    position: relative;
    float: right;
}

#product-container{
    text-align: center;
    border:1px solid black;
    margin: auto;
    padding:20px;
    position: absolute;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
#product-container > img{
    height: 200px;
    max-width: 300px;
    object-fit: contain;
}
#product-container > p{
    text-align: justify;
}
@media (min-width: 720px) {
    #product-container{
        width: 600px;

    }
}