<app-menu [menuList]="menuList"></app-menu>
<div id="main-page">
  <header>
    <h1>Create Angular App</h1>
  </header>
  <div id="home-section">
    <div id="ProductsContainer">
      <a
        *ngFor="let product of productsList"
        [routerLink]="['/detail', product.id]"
      >
        <div class="ProductItem">
          <img src="{{ product.image }}" alt="{{ product.title }}" />
          <h3>{{ product.title }}</h3>
          <p>{{ product.shortDescription }}</p>
        </div>
      </a>
    </div>
  </div>
  <footer>
    <p>Nash3025</p>
    <p>2021 &copy;</p>
  </footer>
</div>
